body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
}

header a {
  margin: 0px 10px;
  text-decoration: none;
  color:gray;
}

header .header__logo {
  color:black;
  font-weight: 600;
  font-size: 18px;
}

header a:hover, header a:focus {
  color: black;
}

/* footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color:gray;
}

footer a:hover, footer a:focus {
  color: black;
}

/* post navigation */
.post__navigation{
  display: flex;
  gap: 12px;
  padding: 48px 20px 0 20px;
  font-size: 16px;
  color:gray;
  cursor: pointer;
  max-width: 680px;
}

.post__navigation--active{
  color:black;
  font-weight: 600;
}

/* post list, post detail */
.post__list, .post__detail {
  min-height: 90vh;
  padding: 20px;
  text-align: center;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.post__list a {
  text-decoration: none;
  color:black;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post__author-name, .post__date {
  color: gray;
}

.post__title {
  font-size: 20px;
  margin: 14px 0;
  font-weight: 600;
}

.post__text {
  font-size: 16px;
  color:dimgrey;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: gray;
  flex-direction:row-reverse;
}

.post__delete:focus, .post__delete:hover {
  color: black;
}

.post__edit:focus, .post__edit:hover {
  color: black;
}

/* post detail */

.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__text {
  padding: 20px 0;
}

/* Profile */

.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
}

.flex__box-log {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  background-color: #f2f2f2;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  padding: 4px
}

.profile__email {
  font-weight: 500;
}

.profile__logout {
  font-size: 14px;
  color:gray;
}

.profile__logout:focus, .profile__logout:hover {
  color:black;
}